



video {
	display: block;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.democonsole {
	display: none;
}

#videoContainer {
	position: absolute;
	float: left;
}

#videoBig {
	width: 960px;
	height: 620px;
	top: 0;
	left: 0;
	z-index: 1;
}

div#videoSmall {
	width: 240px;
	height: 180px;
	padding: 0px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 10;
	padding: 0px;
}

div.dragged {
	cursor: all-scroll !important;
	border-color: blue !important;
	z-index: 10 !important;
}
