@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans/opensans-light-webfont.eot');
    src: url('../fonts/open-sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-light-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open-sans/opensans-bold-webfont.eot');
    src: url('../fonts/open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans/opensans-regular-webfont.eot');
    src: url('../fonts/open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot');
    src: url('../fonts/open-sans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/open-sans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_ROCK';
    src: url('../fonts/rockwell/ROCK.eot');
    src:url('../fonts/rockwell/ROCK.woff') format('woff'), 
    url('../fonts/rockwell/ROCK.ttf') format('truetype'), 
    url('../fonts/rockwell/ROCK.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on April 11, 2016 */
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/roboto-black-webfont.eot');
    src: url('../fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.eot');
    src: url('../fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.eot');
    src: url('../fonts/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ROCK_0';
    src: url('../fonts/ROCK_0.eot');
    src: url('../fonts/ROCK_0.eot') format('embedded-opentype'),
         url('../fonts/ROCK_0.woff2') format('woff2'),
         url('../fonts/ROCK_0.woff') format('woff'),
         url('../fonts/ROCK_0.ttf') format('truetype'),
         url('../fonts/ROCK_0.svg#ROCK_0') format('svg');
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}

.main-content {
  /*padding: 90px 0 0;*/
/*  padding: 0px 0 350px;
*/}
.main-content {
    margin-bottom: 50px;
}
.main-section {
    margin-bottom: 100px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/*****************CUSTOM CSS**************/

/*******navbar css******/
/*---------------right header css here-----------------**/
.logo{ float: left; margin-top: 10px; }

.header {
    background: #3c3a3b none repeat scroll 0 0 / cover ;
    color: #fff;
    min-height: 91px;
    position: relative;
    text-align: center;
}
.right_wrap
{
    display: inline-block;
    float: right;
    padding: 5px;
}


.profile_box_wrap{ padding: 10px; display: inline-block; width: 100%; }
.profile_box_wrap ul{ list-style-type: none; padding-left: 0; }
.profile_box_wrap ul li{ float: left;padding: 5px 13px;}
.profile_box_wrap ul li:nth-child(1){ margin-top: 10px; }
.profile_box_wrap ul li:nth-child(2){ margin-top: 10px; }

.profile_box_wrap ul li a
{
    color: #d1d1d1;
    font-family: 'open_sanslight';
    font-size: 20px;
}
.fa-paper-plane{ position: absolute; right: 0; color: #fff; margin-top: 15px; z-index: 999; margin-right: 5px; font-size: 20px; }
.icon-number {
    background: #f1592a none repeat scroll 0 0;
    border-radius: 50%;
    font-size: 14px;
    height: 20px;
    margin-left: -12px;
    margin-top: 10px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 20px;
}
.dropdown-menu {
    background-color: #f1592a;
}
.dropdown ul li {
    margin-top: 0px !important;
}


.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color:transparent;
}
.custom-down {
    margin-left: 15px;
}
.nav-pic{
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 29px;
}
.dropdown {
    margin-top: 6px;
}
li.dropdown a
{
    color: #d1d1d1;
    font-family: "open_sanslight";
    font-size: 18px;
    padding: 2px 0px;
    text-decoration: none;
    font-weight: 100;
}
li.dropdown a:hover{ color: #000;}
.dropdown-menu > li { width: 200px; margin-top: 0 !important; padding: 4px 0px !important;  }
.dropdown-menu > li a{ padding-left: 15px; font-size: 14px !important; }
.dropdown-menu > li a i{ margin-right: 10px; }
.dropdown-menu ul{ margin-top: 20px; }
.arrow:after {
   width: 0; 
   height: 0; 
   border-bottom: 10px solid #f1592a; 
   border-left: 10px solid transparent; 
   border-right: 10px solid transparent; 
   position: absolute;
   top: -10px;
    right: 9px;
   content: "";
}

/*---------------right header end here-----------------**/

/*

.navbar-default.custom_navbar {
    background-color:#3c3b3b;
     border: 0;
     min-height: 91px;
      -webkit-transition: padding .3s;
      -moz-transition: padding .3s;
      transition: padding .3s;
  }
.nav.navbar-nav.navbar-right.custom_menu a {
    color: #d1d1d1;
    font-family: 'open_sanslight';
    font-size: 20px;
    margin-top: 30px;
    padding: 5px 20px 5px 20px;
}
.nav.navbar-nav.navbar-right.custom_menu a:hover {
    color: #ffffff;
}
.navbar-brand.custom-brand {
    padding-top: 9px;
}

.icon-number {
    background:#f1592a;
    border-radius: 50%;
    font-size: 14px;
    height: 20px;
    margin-left: -6px;
    margin-top: -20px;
    padding-top: 3px;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color:transparent;
}
.dropdown-menu {
    background-color: #3c3b3b;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color:transparent;
}
.custom-down {
    margin-left: 15px;
}
.nav-pic{
     margin-left: 20px;
    margin-right: -15px;
    margin-top: 22px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 29px;
}
*/
.banner-pic-position {
    background-image: url("../img/banner.png");
    background-position: center center;
    background-size: cover;
    padding: 0 0 50px;
}
.inner-data {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
}



/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
    float: left;
}
.picture{
    width: 194px;
    height: 194px;
    background-color: #999999;
    border: 2px solid #ddd;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 0px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture:hover{
    border-color: #f1592a;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    
}
/*Profile Pic End*/

/*.icon-choose-pic{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5px;
    /*background:rgba(45,44,47,0.7);
    color: #ffffff;

}*/

.profile-info {
    float: left;
    margin-left: 40px;
}
.profile-info h1{
    font-size: 34px;
    color: #ffffff;
    font-family: 'open_sanssemibold';
    margin-left: 0px;
}
.profile-info p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'open_sanslight';
    margin-bottom: 34px;
}
.profile-info p span{
    margin-left: 12px;
}
.rating-part {
    float: left;
    margin-top: 75px;
}
.profile-part {
    float: left;
    width: 78%;
    margin-right: 20px;
}

.modal-footer {
    display: inline-block;
    width: 100%;
}

/*--------login modal popup css here-------------*/

.modal-content{ padding:20px; }
.modal-content h3{ font-size: 20px; text-align: center; color: #898989; font-weight: 100; }
.popup_btn{ margin-top: 10px; text-align: center; margin-top: 20px; }
button.btnpop {
    background: #f1592a none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    margin-top: 0;
    padding: 0 20px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    width: 100px;
    text-align: center;
}

.modal-content .close {
    background: #f1592a none repeat scroll 0 0;
    border-radius: 208px;
    color: #fff;
    height: 38px;
    margin-right: -38px;
    margin-top: -43px;
    width: 38px;
}
.modal-dialog modal-sm
{  
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}
.modal-body-1 {
    border-radius: 0 0 4px 4px;
    text-align: left;
    padding: 0;
}

.modal-header h4 {
    font-size: 28px;
    font-weight: 400;
    font-family: 'ROCK_0';
    text-align: center;
    color: #333;
}
.login-form button.btn{ margin-top: 30px; }
.login-form input{ background: #f8f8f8; }
.form-control {
    height: 48px;
}


.modal_header_bg{ background: #f4f4f4; }

.modal-body-2 {
    border-radius: 0 0 4px 4px;
    padding: 25px 25px 30px;
    text-align: left;
}
.modal-content {
    padding: 5px;
}
.modal-body span a {
    float: right;
    margin-top: 10px;
    color: #f1592a;
    font-weight: 100;
}

.text_wrap p {
    color: #6a6a6a;
    font-size: 14px;
    color: #7e7e7e;
    text-align: center;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}
.text_wrap p a {
    color: #3e87e0;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
/*body{ margin: 20px; }*/
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}
.amount {
    padding-top: 50px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.amount h1{
font-size: 36px;
color: #ffffff;
float: right;
}
.btn.btn-default.banner-button {
    background:#f1592a;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-family: 'open_sanslight';
     padding: 10px 22px;
}

.search-query.form-control {
    border-right: 0 none;
}
.btn.btn-danger.custom-search {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    border: 1px solid #ececec;
    color: #a3a2a1;
    height: 50px;
}
.btn.btn-danger.custom-search:hover {
    border-left: 0px;
}
.custom-search-border{
    border: 1px solid #ececec;
    height: 50px;
}
.all input {
    height: 12px;
    width: 100px;
    max-width: 100%;
    border:none;
}
.all ul {
    list-style-type: none;
    padding-left: 0;
}
.all ul li {
    float: left;
     margin: 10px 12px 0 20px;
}
.all {
    margin-bottom: 73px;
    margin-top: 0px;
}
.all a {
    padding: 10px;
}
.all li:first-child {
    margin-left: 0;
}
.fa.fa-check.custom-check {
    float: left;
}
.custom-check{
    background: #f1592a;
    color: #ffffff;
     border-radius: 50%;
    height: 25px;
    margin-right: 8px;
    padding-top: 6px;
    text-align: center;
    width: 25px;
}
.metting-profile {
    float: left;
    width: 20%;
}
.mettinf-info {
    float: left;
}
.mettinf-info h3{
    font-size: 18px;
    font-family: 'open_sanssemibold';
    color: #6f6f6f;
}
.date-time span {
    float: left;
    width: 50%;
    color: #8c8c8c;
    font-family: 'open_sanslight';
}
.duration h5{
    float: right;
    color: #8c8c8c;
    font-family: 'open_sanslight';
    font-size: 12px;
}
.metting-para p{
    margin-top: 15px;
    color: #707070;
    font-size: 14px;
    font-family: 'open_sanslight';
}

.metting-bottom-part{
    background: #f9e2e2;
}
.metting-bottom-btn {
    float: left;
}
.metting-bottom-ryt {
    float: right;
    text-align: right;
    margin-top: 20px;
    color: #f94040;
    font-size: 14px;
    font-family: 'open_sanslight';
}
.btn.btn-default.metting-goto-button {
    margin-bottom: 12px;
    margin-top: 12px;

}
.btn.btn-default.metting-goto-button > span {
    margin-left: 12px;
}
.btn.btn-default.metting-goto-button {
    background: #f1592a;
    color: #ffffff;
    font-size: 13px;
    font-family: 'open_sanslight';
    border:none;
    width: auto;

}

.metting-pic-section {
    background:#f9f7f7;
    border-radius: 5px;
    padding: 15px 15px 0;
    border:1px solid #ececec;
}
.team-metting {
    margin-top: 24px;
}
.btn.btn-default.metting-goto-button.accept{
  background: #6ab84c;
}
.custom-accept {
    float: left;
    margin-right: 10px;
}
.suggest {
    float: left;
    margin-right: 12px;}

.btn.btn-default.metting-goto-button.accept.request {
    background: #e95959;
}
.metting-pic-section.bg-lightgreen {
    background: #f4fff4;
   
}

.metting-para.bg-last {
    margin-bottom: 12px;
}
.main-bg-section {
    background: #ffffff;
    position: relative;
    margin-top: -50px;
}
.team {
    padding: 17px;
}

.review-banner {
    float: right;
}

/***** Modal *****/

.modal-content {
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    border: 0;
    text-align: left;
}

.modal-header {
    padding: 10px 25px 10px;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}

.modal-header .close {
    font-size: 34px;
    color: #ffffff;
    font-weight:bold;
    text-shadow: none;
    opacity: 1;
}
.modal-header .close
{

    background: #f1592a none repeat scroll 0 0;
    border-radius: 208px;
    color: #fff;
    margin-right: -38px;
    margin-top: -43px;
    width: 38px;
    height: 38px;
}
.modal-title {
    margin-bottom: 10px;
    line-height: 30px;
    text-align: center;
}
.modal-header h4{ text-align: center; font-size: 28px; font-weight: 400; }

.modal-body {
    padding: 14px;
    background: #fff;
    text-align: left;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.modal-body img {
    margin-bottom: 15px;
}

.modal-body form textarea {
    height: 100px;
}

.modal-body form .input-error {
    border-color: #399599;
}
.modal-body h4{ text-align: center; font-size: 20px; font-family: 'ROCK_0'; }
.modal-content .calender_wrap h3 {
    color: #898989;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
}

a.btn-popup {
    width: 100%;
    margin: 0;
    float: left;
    padding: 5px 15px;
    vertical-align: middle;
    background: #f1592a;
    border: 0;
   font-family: 'ROCK_0';
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

a.btn-popup:hover {  color: #fff; background-color: #333 !important; }
/*.btn-popup .btn-default:hover{ background-color: #333 !important;}
*/
/*----28 sep---*/

.home_btn{ float: right; }
.home_btn a{ color: #3b8cef;  }
.see_later{ float: left; width: 18%; }
.see_later button{ background: #0892cf !important; margin-left: 15px; }
.complaint button{ background: #b73f2e !important; }
.report button{ background: #e80322 !important; }
.client_image{ float: right;margin-bottom: 5px;margin-top: 5px; }
.see_report .see_later{float: left; width: 26%; }
.see_report {width: 100%;float: left;}
.icon-choose-pic {position: absolute;bottom: 11px;left: 54px; text-align: center;}

/*********datepicker***********************/
/*.hasDatepicker {
    width: 90%;
}*/
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    width: 100%;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    background: #f1592a;
    border:none;
}


/*************paginnation******/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #f1592a;
    color: #ffffff;
}

ul.pagination li a:hover:not(.active) {background-color: #e8e8e8;}

.page {
    float: none;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.suggestion h2{
  font-size: 28px;
   font-family: 'Conv_ROCK';
  color: #575757;
}
.mettinf-info.suggest-info {
    margin-left: 25px;
}
.mettinf-info.suggest-info h3 {
    margin-top: 8px;
    font-size: 22px;
}
.mettinf-info.suggest-info h5 {
    color: #6f6f6f;
    font-family: 'open_sanslight';
    font-size: 14px;
}
.rating.suggest-rating {
    float: left;
}
.review {
    float: left;
    color: #8c8c8c;
    font-size: 12px;
    font-family: 'open_sanslight';
}
.team-sty {
    margin-top: 25px;
}
.chart {
    margin-top: 20px;
}
.suggestion {
    margin-top: 20px;
}
.suggestion.suggest-chart {
    margin-top: 145px;
}
.review-banner  h5 {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: 'open_sanslight';
}
/********footer**/
.footer{
  background: #202020;
  color: #ffffff;
  position: absolute;
    width: 100%;
    bottom: 0;
}
.footer h4{
  font-size: 26px;
  font-family: 'open_sansregular';
}
.footer p{
  font-size: 16px;
  font-family: 'open_sanslight';
  color: #c6c6c6;
}
.footer-text{
  margin-top: 30px;
  margin-bottom: 30px;
}
.search-query.form-control.custom-search-border.subscribe{
   background:#313131;
    color: #ffffff;
    border-color: #313131;
}
.btn.btn-danger.custom-search.custom-subscribe {
    background:#313131;
    color: #ffffff;
    border-color: #313131;
}
.terms {
    display: block;
    float: none;
    text-align: center;
}

.terms ul {
    list-style-type: none;
    padding-left: 0;
}
.terms li {
    display: inline;
    float: none;
}
.terms a {
    color: #d7d4d4;
    padding: 12px;
    font-size: 14px;
    font-family: 'open_sanslight';
}

.social-icons{
  float: none;
  display: block;
  text-align: center;
  
}
.social-icons ul {
    list-style-type: none;
    padding-left: 0;
}
.social-icons li {
    display: inline;
    float: none;
}
.social-icons a {
    color: #d7d4d4;
    padding: 15px;
    font-size: 18px;
    font-family: 'open_sanslight';
}
.footer-logo {
    float: none;
    text-align: center;
}
.footer-logo img {
    display: inline;
    float: none;
    text-align: center;
    margin-bottom: 20px;
}

.request-process {
    float: left;
}
.request-process span {
    color: #848484;
}
.nav.navbar-nav.navbar-right.custom_menu .dropdown-menu a {
    margin: 0;
}
.nav.navbar-nav.navbar-right.custom_menu .dropdown-menu a:hover {
    color:  hsl(14, 88%, 55%);
}

/*****************************==========================css for review-commwent page===============***************/
.review-heading {
    margin-bottom: 80px;
}
.review-heading h1{
  font-size: 42px;
  color: #3c3c3c;
   font-family: 'Conv_ROCK';
   text-align: center;
   margin-top: 60px;
   position: relative;
 
}

.review-heading h1::after {
    background-color: hsl(14, 88%, 55%);
    color: hsl(0, 0%, 0%);
    content: "";
    font-size: 14px;
    left: 0;
    margin: 0 auto;
    max-width: 50px;
 /*   min-width: 50px;*/
    padding: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50px;
}
.verified-customer{
  color: #6a6a6a;
  font-size:14px;
  font-family: 'open_sanslight';
  float: left;
}
.verified-customer-btn {
    text-align: right;
}

.btn.btn-default.write-review {
    background:#f1592a;
    border:none;
    width: 172px;
    height: 40px;
    color: #f2f2f2;
    font-size: 16px;
    font-family: 'open_sanslight';
}
.custom-pencil{
  margin-right: 7px;
}
.review-banner.review-page-rating-text{
    float: left;
    width: 100%;
  }
  .review-banner.review-page-rating-text > h5 {
    color: #696969;
    font-family: 'open_sanssemibold';
    font-size: 14px;
     margin-bottom: 0px;
}
.review-banner.review-page-rating-text > span {
    color:#777777;
    font-family: 'open_sanslight';
    font-size: 12px;
}
.customer-comment-text h5 {
    color: #575757;
    font-family: 'open_sanssemibold';
    font-size: 16px;
}
.customer-comment-text p {
    color:#767676;
    font-family: 'open_sanslight';
    font-size: 14px;
    line-height: 20px;

}
/****************************userhomepage***************************/
.user-homepage-searchbar{
  margin-bottom: 12px;
}
.userhomepage-pic{
    border: 1px solid hsl(0, 0%, 89%);
    border-radius: 5px;
    margin: 14px;
    text-align: center;
    width: 30%;
}
.userhomepage-metting-profile img {
    display: inline;
    float: none;
    margin-top: 15px;
    text-align: center;
}
.userhomepage-mettinf-info h3{
 text-align: center;
 color: #292929;
 font-family: 'open_sanssemibold';
 font-size: 20px;
 margin-bottom: 8px;
}
.companyname span{
color: #292929;
font-family: 'open_sanslight';
font-size: 14px;
}
.fa.fa-suitcase.userhomepage-custom-suitcase{
    margin-right: 5px;
}
.userhomepage-metting-para p {
    margin-top: 20px;
    color: #7d7d7d;
    font-family: 'open_sanslight';
    font-size: 13px;
    margin-bottom: 0px;
}
.rating.userhomepage-rating {
    display: inline;
    float: none;
}
.review-banner.review-page-rating-text h6 {
    color: #292929;
    font-size: 10px;
    font-family: 'open_sanslight';
    margin-top: 0px;
}
a.btn-default.userhomepage-metting-button {
    background: hsl(14, 88%, 55%) none repeat scroll 0 0;
    border: medium none;
    color: hsl(0, 0%, 100%);
    font-family: "open_sanslight";
    font-size: 14px;
    padding: 10px 0;
    max-width: 100%;
    width: 233px;
    text-transform: uppercase;
    margin-bottom: 15px;

}
.col-sm-3.userhomepage-ryt {
    border: 1px solid #ececec;
}
.userhomepage-pic-ryt {
    margin-top: 14px;
     margin-bottom: 48%;
}
.userhomepage-metting-profile-ryt img {
    display: inline;
    float: none;
    text-align: center;
}
.userhomepage-metting-profile-ryt {
    float: none;
    text-align: center;
}
.userhomepage-pic-sty {
    max-width: 100%;
    width: 200px;
}
.userhomepage-mettinf-info-ryt h3 {
    font-size: 24px;
    color: #292929;
    font-family: 'open_sanssemibold';
    text-align: center;
    margin-bottom: 20px;
}
.companyname-ryt {
    margin-bottom: 12px;
    color: #292929;
    font-family: 'open_sanslight';
    font-size: 16px;
}
.fa.fa-suitcase.userhomepage-custom-suitcase-ryt{
  margin-right: 12px;
}
.fa.fa-clock-o.userhomepage-custom-clock {
    margin-right: 12px;
}
.amount-ryt{
  color: #f1592a;
  font-size: 26px;
  float: right;
}

.amount-ryt a{
  color: #f1592a;
  font-size: 26px;
  float: right;
}

.mettinf-info a{ color: #333; }

.review-page-rating-text-ryt h6 {
    float: left;
    font-size: 14px;
    color: #292929;
    text-align: left;
}
.suggestion.suggest-chart.userhomepage-ryt{
  margin-top: 55px;
}
.suggestion.suggest-chart.userhomepage-ryt h2{
  font-size: 24px;
}
.mettinf-info.userhomepage-suggest-info {
    float: left;
    margin-left: 15px;
    width: 70%;
}
.mettinf-info.userhomepage-suggest-info h3 {
    margin-top: 0;
    color: #464646;
}
.mettinf-info.userhomepage-suggest-info h5 {
    font-size: 12px;
    color: #6f6f6f;
}
.mettinf-info.userhomepage-suggest-info label::before {
    font-size: 11px;
    margin: 3px;
}
.review.review-ryt h5 {
    font-size: 11px;
    margin-top: 5px;
}
.whole-ryt-userhomepage{
  margin-bottom: 15px;
}
.loader {
    display: inline;
    float: none;
    text-align: center;
    font-size: 14px;
    font-family: 'open_sanslight';
    color: #626262;
}
.loader img {
    display: inline;
    max-width: 100%;
    width: 25px;
}

/**********************************Skilled user landing page css*******************************************/
.education h1 {
    font-size: 24px;
    color: #2b2b2b;
     font-family: 'Conv_ROCK';
     position: relative;
       margin-left: 0px;
}
.education h1::after {
     background-color: hsl(14, 88%, 55%);
    color: hsl(0, 0%, 0%);
    content: "";
    font-size: 14px;
    left: 0px;
    margin: 0 auto;
    max-width: 76px;
    padding: 3px;
    position: absolute;
    text-align: center;
    top: 33px;
    width: 48px;
    float: left;
}
.skilled-cap{
  font-size: 24px;
}
.custom-graduation-cap {
    background: #d8d8d8;
    border-radius: 50%;
    height: 60px;
    padding: 21px 16px;
    text-align: center;
    width: 60px;
    float: left;
}
.education {
    margin-bottom: 26px;
}
.education h3 {
    font-size:18px;
    color: #504f4f;
     font-family: 'open_sanssemibold';
     margin-top: 27px;
}
.education h5 {
    font-size:14px;
    color: #504f4f;
     font-family: 'open_sanslight';
}
.education p {
    font-size:14px;
    color: #727272;
     font-family: 'open_sanslight';
}
.edu-list ul{
   list-style-type: none;
    padding-left: 0;
    float: left;
}
.edu-list li {
    display: inline;
    float: left;
    font-size: 13px;
    padding: 10px 20px 12px 0;
  /*  width: 50%;*/
    font-family: 'open_sanslight';
}
.edu-list a{
  color: #504f4f;
  text-decoration: none;
  background: #e4e4e4;
  padding:5px;
}
.edu-list {
    border-bottom: 1px solid #ccc;
    padding: 0;
     padding-bottom: 26px;
}
.edu-list.skills ul {
    margin-top: 20px;
}
.edu-list.skills.cal {
    border-bottom:none;
    width: 60%;
}
.edu-list.rate {
    border-bottom:none;
}
.verified-customer.skilled-user-review h2{
color: #3a3a3a;
font-size: 22px;
font-family: 'Conv_ROCK';
margin-top: 12px;
}
.skilled-user-review-ryt h5{
text-align: right;
color: #3a3a3a;
font-size: 12px;
font-family: 'open_sanslight';
margin-top: 17px;
}
.write_review.skilled-user-write-review{
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
margin-bottom: 20px;
}
/************************home search-page css***********************/
.login_button {
    float: right;
}
.btn-link-1 {
    background: #f1592a none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    line-height: 16px;
    margin: 30px 5px;
    padding: 13px 24px 0;
    text-transform: uppercase;
    vertical-align: middle;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
    color: #fff;
    opacity: 0.6;
    outline: 0 none;
}
.header_search{ float: right; padding: 5px; margin-top: 18px; display: inline-block; }
.header_search button.btn {
    background: #302f2f none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 38px;
    line-height: 38px;
    margin-top: 0;
    padding: 0 20px;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    width: 100%;
}
.header_search .form-control{ background: #302f2f; border: none; height: 38px; }
.header_search .navbar-form{ border: none; box-shadow:none;  }
/************************home search-page end css*******\************/
/************************search-page css***********************************/
.search-page-searchbar {
    margin-top: 28px;
}
.search-lft h3{
  color: #3c3c3c;
  font-size: 18px;
  font-family: 'Conv_ROCK';
}
.form-control.search-page-calender,.input-group-addon.search-page-cal-icon {
    background: #f4f3f3;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
}
.search-page-ryt {
    margin-top: 20px;
}
.search-pic {
    width: 14%;
}
.searchpage-username h4{
font-size: 20px;
font-family: 'open_sanssemibold';
color: #3c3b3b;
}
.searchpage-username span{
color: #6e6e6e;
font-size: 14px;
font-family: 'open_sanslight';
}
.search-page-review {
    background:#f7f7f7;
    border-radius: 4px;
}
.searchpage-username-star {
    margin-top: 16px;
}
.btn.btn-default.search-page-view-profile{
    background: hsl(14, 88%, 55%) none repeat scroll 0 0;
    border: medium none;
    color: hsl(0, 0%, 100%);
    font-family: "open_sanslight";
    font-size: 14px;
    width: 100%;
}
.star.search-page-star {
    float: right;
}
.call-handeled{
  background: #e9e8e8;
  border-top:1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-top: 22px;
}
.call-handeled ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 12px;
}
.call-handeled li {
    display: inline;
    padding: 0 30px 0 0;
    font-size: 14px;
    color: #6e6e6e;
    font-family: 'open_sanslight';
}
.call-handeled li b{
    font-size: 18px;
    color: #444444;
    font-family: 'open_sanssemibold';
}
.search-page-review-para {
    margin-bottom: 15px;
    margin-top: 30px;
}
.search-page-review-para p {
    color: #7f7f7f;
    font-family: 'open_sanslight';
    font-size: 14px;
}
.search-page-client{
background: #f2f1f1;
border-top: 1px solid #e9e8e8;

}
.search-page-client ul {
    list-style-type: none;
}
.search-page-client li {
   display: inline;
   float: right;
    padding: 12px;
}
.search-page-spacing{
  margin-bottom: 25px;
}
.clock {
    margin-top: 30px;
}
.fa.fa-clock-o.search-lft-clock {
    color: #959595;
    font-size: 20px;
    margin-right: 12px;
}
.custom-selectpicker {
    background:#f4f3f3;
    height: 44px;
    width: 70px;
    border:none;
    box-shadow: none;
    color: #959595;
    font-size: 16px;
    font-family: 'open_sanslight';
   /*  -moz-appearance: none;*/
  background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
  background-position: 77% 52%;
 text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select {
  border: 1px solid silver;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
/*  background-image: url('..img/arrow.png');
  background-repeat: no-repeat;
  background-position: 95% 42%;*/
}

.call-handled {
    margin-top: 25px;
}
/*.dropdown {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}*/

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown.handle-dropdown a,
.dropdown.handle-dropdown a:visited {
  color: #3c3c3c;
  text-decoration: none;
  outline: none;
  font-size: 18px;
  font-family: 'Conv_ROCK';
}

.dropdown.handle-dropdown dt a {
  background-color: transparent;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 300px;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown.handle-dropdown dd ul {
  background-color: transparent;
  border: 0;
  color: #5d5d5d;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
 /* position: absolute;
  top: 2px;*/
  /*width: 280px;*/
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

.fa.fa-angle-down.search-page-tym-angle {
    display: inline;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}


     .rating-select {
          overflow: hidden;
          display: inline-block;
      }
      .rating-input {
          position: absolute;
          left: 0;
          top: -50px;
      }
      .rating-star {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
      }
      .rating-star:hover {
          background-position: 0 0;
      }
.select .value {
    border-bottom: none !important;
  }
/***range slider**/
.filter_price {
    margin-top: 30px;
}
.irs-slider.from,.irs-slider.to {
     background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    height: 15px;
    top: 21px;
    width: 8px;
}
.irs-bar {
    left: 0 !important;
    width: 100% !important;
}
.irs-slider.state_hover, .irs-slider:hover {
    background: #f1592a !important;
}
.irs-from::after, .irs-to::after, .irs-single::after {
    border-color: hsl(14, 88%, 55%) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) !important;
     border-width: 7px !important;
    bottom: -15px !important;
    }
    .irs-bar {
    border-bottom: transparent !important;
    border-top: transparent !important; 
    background: #f1592a !important;
}
.ratedropdown {
    margin-top: 25px;
}
.select {
    max-width: 260px !important;
}
.rating-dropdown-star input {
    margin-right: 5px;
}
.select .value {
    font-size: 18px !important;
    font-family: 'Conv_ROCK'!important;
    padding: 8px 0px !important;
    color: #3c3c3c !important; 
}
.select .value::before {
    border-color: hsl(235, 15%, 14%) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) !important;
    }
    .location {
    margin-top: 42px;
}
.search-query.form-control.custom-search-border.lft-search-bar{
    background: #f4f3f3;
    border:1px solid #f4f3f3;
}
.input-group-btn.lft-page-search {
 background: #f4f3f3;
 height: 49px;
}
.fa.fa-angle-down.custom-search-experions{
  float: right;
}
.filter_price h3 {
    margin-bottom: 20px;
}


/*************************seeker page*****************************/
.update_prfile_top {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 85%;
}
.all.seeker-all ul{
  padding:0px;

}
.all.seeker-all p{
  color: #848484;
  font-synthesis: 12px;
  font-family: 'open_sanslight';
}
.fa.fa-check.custom-check.seeker-check{
  float: none;
  margin-right: 0px;
}
.all.seeker-all li {
    margin: 16px 64px 9px 36px;
    text-align: center;
}
.all.seeker-all a{
  padding: 0;
}
.inner-box{
background: #f1f1f1;
}

.inner-box h1{
font-size: 42px;
font-family: 'Conv_ROCK';
color: #3c3c3c;
text-align: center;
background: #f1f1f1;
margin-top: 20px;
}
.inner-box h1::after {
    background-color: hsl(14, 88%, 55%);
    color: hsl(0, 0%, 0%);
    content: "";
    font-size: 14px;
    left: 0;
    margin: 0 auto;
    max-width: 50px;
    padding: 3px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 70px;
}
.btn.btn-default.yes{
background: #4fc933;
color:#ffffff;
font-size: 24px;
font-family: 'Conv_ROCK';
max-width: 100%;
width: 190px;
height: 61px
border:none;
border-radius: 0px;
text-transform: uppercase;
}
.btn.btn-default.letter{
background: #f83636;
color:#ffffff;
font-size: 24px;
font-family: 'Conv_ROCK';
max-width: 100%;
width: 190px;
height: 61px
border:none;
border-radius: 0px;
text-transform: uppercase;
}
.seeker-btn {
    margin-bottom: 7%;
    margin-top: 15%;
}
.inner-box{
    margin-top: 12%;
    margin-bottom: 12%;
}
/**************************************call_function css**********************************/
.time-remaining{
margin-top: 40px;
}
.time-remaining h1{
font-size: 34px;
font-family: 'Conv_ROCK';
color: #1e1e1e;
}
.time-remaining ul{
  list-style-type: none;
  padding-left: 0px;
}
.time-remaining li{
 display: inline-block;
}
.time-remaining h4 {
    background: #1e1e1e;
    width: 62px;
    height: 62px;
    font-size: 31px;
    color: #ffffff;
    border-radius: 4px;
    padding-top: 14px;
}
.time-remaining h6 {
   text-transform: uppercase;
   color: #151414;
   font-size: 12px;
   font-family: 'robotolight';
}
.extend-time{
  background: #fdc7c7;
   border-radius: 4px;
}
.extend-time h5{
  font-size: 16px;
  font-family: 'open_sanslight';
  color: #1e1e1e;
  padding: 12px;
  text-align: left;
}

.fa.fa-exclamation-triangle.custom-exclamation {
    color: #ed1414;
    margin-right: 12px;
}

.extend-time ul{
  float: left;
  margin-top: 12px;
}

.btn.btn-default.extend-time-yes{
  background: #5cbe68;
  color: #ffffff;
  border-radius: 4px;
  width: 92px;
  height: 37px;
  text-transform: uppercase;
  font-family: 'open_sanslight';
  font-size: 16px;
  border:none;
}

.btn.btn-default.extend-time-no{
  background: #f95f5f;
  color: #ffffff;
  border-radius: 4px;
  width: 92px;
  height: 37px;
  text-transform: uppercase;
  font-family: 'open_sanslight';
  font-size: 16px;
  border:none;
}

.custom-end-mob{
color: #ffffff;
font-size: 20px;
margin-right: 12px;
}
.btn.btn-default.end-btn{
  background: #f1592a;
  color: #ffffff;
  font-size: 14px;
  font-family: 'open_sanslight';
  text-transform: uppercase;
  text-align: center;
  width: 165px;
  height: 50px;
  border:none;
}
.btn.btn-default.end-btn:hover,.btn.btn-default.end-btn:active,.btn.btn-default.end-btn:focus{
  background: #ed1414;
}
.end-metting{
  margin-top: 50px;
}
.end-metting ul {
    list-style-type: none;
    padding-left: 0;
}
.end-metting li {
    display: inline;
}
.main-group-btn{
  float: none;
  text-align: center;
}
.chat-pic img {
    display: inline;
    float: none;
    text-align: center;
}
.chat-pic {
    display: inline;
    float: none;
    text-align: center;
}
.pic-sec {
    display: inline-block;
    float: left;
    text-align: center;
}
.chat-pic h3{
  color: #3c3b3b;
  font-family: 'open_sanssemibold';
  font-size: 21px;
  text-align: center;
}
.chat-window-box textarea{
  border:1px solid #dedede;
  padding: 20px;
  color: #bbbbbb;
  font-family: 'open_sanslight';
  font-size: 14px;
  width: 100%;
}
.form-control.text-type-custom {
    border-radius: 0;
    border-top: medium none;
    box-shadow: none;
    color: #bbbbbb;
    font-synthesis: 14px;
    font-family: 'open_sanslight';
}
.btn.btn-danger.custom-search.paper-send-btn{
  border-radius: 0px;
  background: #3c3b3b;
  color: #ffffff;
  font-size: 21px;
}

/**************review_skilled_user_profile*********************************/
.review-banner.skilled-user-profile {
    float: left;
}

.profile-info p.review-skilled-compny {
    color: hsl(0, 0%, 100%);
    font-family: "open_sanslight";
    font-size: 16px;
    margin-bottom: 10px;
}
.totall-call-handel {
    float: left;
    color: #ffffff;
}
.totall-call-handel h1 {
    font-size: 16px;
    font-family: 'open_sanssemibold';
}
.totall-call-handel h1 span {
    font-size: 16px;
    font-family: 'open_sanslight';
}
.btn.btn-default.banner-button.req-meet{
  background: #f1592a;
  width: 228px;
  margin-bottom: 40px;
}

.amount span {
    font-size: 16px;
}

/*-------------for myprofile pages button ofine by gagan 29-09-2016-----------*/
.offline_btn button.btn{ margin-top: 20px; background: #d71827; font-weight: 400; }
.modal_box .form-group{  float: left;margin-bottom: 10px;width: 50%;}
.modal_box .custom-selectpicker-1 {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #f1f1f1;
    box-shadow: none;
    color: #959595;
    cursor: default;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 44px;
    text-align: center;
    width: 100%;
}

.day-selectpicker {
    -moz-appearance: none;
    background: #ffffff url("../img/arrow.png") no-repeat scroll 95% 52%;
    border: 1px solid #d8d8d8;
    box-shadow: none;
    color: #959595;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 48px;
    padding-left: 10px;
    text-align: left;
    width: 70%;
}
.form-inline .select_date {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 100%;
}
textarea.form-control{ color: #333 !important; text-align: left; }



/*-------------footer start from here-----------*/
.fa.fa-paper-plane.pull-right {
    margin-right: 13px;
    margin-top: -9px;
}
.footer_section {
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    float: left; 
    padding: 20px;
    background: #202020;
}
.btn.btn-danger.custom-search.custom-subscribe {
    height: 40px;
}

.footer_section_1{ padding: 10px; }
.footer_section_1 h2{ font-size: 26px; color: #ffffff;  font-family: 'ROCK_0'; }
.footer_section_1 p{ margin-top: 50px; color: #c6c6c6; font-size: 16px; line-height: 28px; font-weight: 100; }

.footer_section_2{ padding: 10px 0; }
.footer_section_2 h2{ font-size: 26px; color: #ffffff;   font-family: 'ROCK_0';}
.footer_section_2 h5{ margin-top: 50px; color: #c6c6c6; font-size: 16px; line-height: 28px; font-weight: 100; }

.subscribe_form {
    border-collapse: separate;
    display: table;
    position: relative;
    width: 100%
}
.subscribe_form .form-control-2 {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}
input[type="text"].form-control-2 {
    background: #313131 none repeat scroll 0 0;
    box-shadow: none;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    line-height: 50px;
    margin: 0;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    border:none;
    color: #0a0a0a;
    -webkit-border-top-left-radius: 3px !important;
    -webkit-border-bottom-left-radius: 3px!important;
    -moz-border-radius-topleft: 3px !important;
    -moz-border-radius-bottomleft: 3px !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    position: relative;758 
}

.footer_section_3{ padding: 10px 0; text-align: center; }
.footer_section_3 h2{ font-size: 26px; color: #ffffff; }
p.copyright {
    margin: 38px 0 0;
}
p.copyright{ padding-bottom: 10px; color: #d7d4d4; font-size: 14px; font-family: 'Open Sans', sans-serif; font-weight: 100;}

.social_icon{ float: left; }
.social > li {
    float: left;
}
.social > li > a {
    padding-bottom: 15px;
    padding-top: 15px;
}

.social > li > a{ color: #fff; }
.social > li > a:hover{ background: #ef582a; color: #fff; }



.social .fa-facebook:hover {
    color: #000;
}

.social .fa-twitter:hover {
    color: #000;
}

.social .fa-google-plus:hover {
    color: #000;
}

.social .fa-linkedin:hover {
    color: #000;
}

.col-lg-7.img_right{ position: absolute; right: 0; }
.col-lg-7.img_right img{ position: absolute; right: 0; }
.subscribe-email.form-control-2 {
    padding: 0 20px;
}
button.btn {
    width: 100%;
    padding: 10px 20px;
    vertical-align: middle;
    background: #f1592a;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
    margin-top: 0;
    text-transform: uppercase;
}

button.btn:hover { opacity: 0.6; color: #fff; background: #000 !important; }

.fa.fa-paper-plane {
    font-size: 16px;
    margin-right: 12px;
    margin-top: -10px;
}
/*-------------footer end from here-----------*/


/****************************MEDIA QUERRY=======================***/
@media (min-width: 992px) and (max-width: 1199px){
.profile-part {width: 75%;}
.all input {width: 55px;}
.btn.btn-default.metting-goto-button {width: 150px;font-size: 14px}
.terms a {
    padding: 5px;
}
/*****************userhomepage****************************/
.userhomepage-pic {
    margin: 10px;
}
.userhomepage-pic-sty {
    width: auto;
}

.userhomepage-mettinf-info-ryt h3 {
    font-size: 22px;
}
.fa.fa-suitcase.userhomepage-custom-suitcase-ryt {
    margin-right: 5px;
}
.fa.fa-clock-o.userhomepage-custom-clock {
    margin-right: 5px;
}
.amount-ryt {
    font-size: 16px;
    margin-top: 6px;
}
.suggestion.suggest-chart.userhomepage-ryt h2 {
    font-size: 20px;
}
/********commentspage************************/
.rating > label::before {
    margin: 3px;
}
}
@media (min-width: 768px) and (max-width: 991px){
.profile-part {
    width: 65%;
}
.profile-info h1 {
    font-size: 28px;
}
.amount h1 {
    font-size: 30px;
}
/*.inner-data {
    margin-top: 18%;
}*/
.banner-pic-position {
    height: 600px;
}
.profile-info p {
    margin-bottom: 12px;
}
.suggestion h2 {
    font-size: 22px;
}
/*.all ul li {
    display: inline-block;
    padding: 3px;
    width: 100%;
}*/
.all ul li {
    float: left;
    margin: 0 0 0 17px;
}
.all input {
    width: 46px;
}
.all a {
    padding: 0;
}
.mettinf-info.suggest-info h3 {
    font-size: 17px;
    margin-top: 2px;
}
.metting-bottom-btn {
    width: 100%;
    float: none;
    text-align: center;
}
.metting-bottom-ryt {
    text-align:center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.terms {
    margin-left: 0;
}
.terms a {
    font-size: 13px;
    padding: 1px;
}
.social-icons {
    padding-left: 0;
}
.social-icons a {
    padding: 12px;
}
.page {
    margin-bottom: 15px;
    margin-top: 5px;
}
.mettinf-info.suggest-info {
    float: left;
    font-size: 12px;
    margin-left: 5px;
    width: 77%;
}
.mettinf-info.suggest-info h5 {
    font-size: 12px;
    margin-top: 0;
}
.suggestion.suggest-chart {
    margin-top: 25px;
}
.mettinf-info {
    margin-left: 12px;
}
.mettinf-info h3 {
    margin-top: 10px;
}
.footer p {
    font-size: 14px;
}
.footer h4 {
    font-size: 24px;
}
.userhomepage-pic {
    margin: 8px;
}
.userhomepage-mettinf-info h3 {
    font-size: 14px;
}
.userhomepage-star {
    font-size: 12px;
}
.btn.btn-default.userhomepage-metting-button {
    font-size: 11px;
    height: 30px;
}
.userhomepage-mettinf-info-ryt h3 {
    font-size: 16px;
}
.userhomepage-pic-sty {
    width:auto;
}
.companyname-ryt {
    font-size: 11px;
}
.fa.fa-suitcase.userhomepage-custom-suitcase-ryt {
    margin-right: 3px;
}
.fa.fa-clock-o.userhomepage-custom-clock {
    margin-right: 3px;
}
.amount-ryt {
    float: none;
    font-size: 20px;
}
.userhomepage-pic-ryt {
    margin-bottom: 30%;
}
.suggestion.suggest-chart.userhomepage-ryt h2 {
    font-size: 16px;
}
.suggestion.suggest-chart.userhomepage-ryt {
    margin-top: 20px;
}
.metting-profile.user-meet {
    float: none;
    width: 100%;
}
.mettinf-info.userhomepage-suggest-info {
    float: none;
    margin-left: 0;
    text-align: center;
    width: 100%;
}
.rating.suggest-rating {
    display: inline;
    float: none;
    text-align: center;
}
.review.review-ryt{
	float: none;
}
.customer-comment-star {
    width: 100%;
}
.customer-comment-text {
    width: 100%;
}
}

  @media (max-width: 767px){
    .main-bg-section {
    margin-top: 0px;
  }

  .profile-part {
    width: 100%;
}
/*.inner-data {
    margin-top: 22%;
}*/
.profile-info {
    margin-left: 0;
}
.profile-info h1 {
    font-size: 28px;
}
.profile-info p {
    font-size: 16px;
    margin-bottom: 7px;
}
.banner-pic-position {
    height: 635px;
}
.all ul li {
    display: inline-block;
    padding: 0px;
}
.metting-bottom-btn {
    float: none;
    text-align: center;
    width: 100%;
}
.metting-bottom-ryt {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.hasDatepicker {
    padding-top: 20px;
}

.footer-logo {
    margin-top: 20px;
}
.navbar-toggle {
    margin-top: 30px;
}
.navbar-collapse {
    margin-top: 20px;  
}
.amount h1 {
    float: none;
    font-size: 26px;
}
.amount {
    display: inline;
    float: none;
    padding-top: 0;
    text-align: center;
}

.suggestion.suggest-chart {
    margin-top: 25px;
}
.picture-container {
    float: none;
}
.profile-info {
    float: none;
}
.profile-part {
    float: none;
    text-align: center;
    width: 100%;
}
.rating-part {
    float: none;
    text-align: center;
    width: 100%;
}
.star {
    display: inline;
    float: none;
    text-align: center;
}
.rating {
    border: medium none;
    display: inline;
    float: none;
    text-align: center;
}
.review-banner {
    float: none;
}
.all {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}
.all ul li {
    margin: 10px 0 0 25px;
}
.metting-bottom-part {
    background: transparent;
}
.team {
    padding: 17px 0;
}
.all a {
    padding: 0;
}
.all input {
    width: 80px;
}
.custom-check {
    height: 22px;
    margin-right: 6px;
    padding-top: 4px;
    width: 22px;
}
.mettinf-info h3 {
    margin-top: 12px;
}
.mettinf-info.suggest-info {
    margin-left: 5px;
}
.footer-text {
    text-align: center;
}
.footer h4 {
    font-size: 24px;
}
.team-metting {
    margin-top: 10px;
}
.navbar-header.page-scroll {
    float: left;
}
.nav.navbar-nav.navbar-right.custom_menu > li {
    display: inline-block;
    float: left;
}
.navbar-collapse.menu_collapse {
    border: medium none;
    margin-top: 0;
}
.nav.navbar-nav.navbar-right.custom_menu a {
    font-size: 14px;
    margin-left: 12px;
}
.userhomepage-pic {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    border:none;
}
.review-banner.review-page-rating-text h6 {
    font-size: 14px;
}
.userhomepage-pic-ryt {
    margin-bottom: 5%;
}
.suggestion.suggest-chart.userhomepage-ryt {
    margin-top: 25px;
}
.footer {
    position: static;
}
body {
    margin-bottom: 0;
}
  }

 @media (max-width: 667px){
/*      .inner-data {
    margin-top: 17%;
}*/
.nav.navbar-nav.navbar-right.custom_menu {
    float: right;
}
.chart {
    margin-top: 35px;
}
.navbar-nav .open .dropdown-menu {
    background-color: hsl(0, 1%, 23%);
    margin-top:5px;
    position: absolute;
}
.companyname-ryt {
    text-align: center;
}
    }


 @media (max-width: 640px){

.banner-pic-position {
    height: 655px;
}
.nav.navbar-nav.navbar-right.custom_menu {
    float: right;
}
.inner-data {
    margin-top: 18%;
}
.metting-bottom-ryt {
    margin-top: 0;
}
.all ul li {
    display: inline-block;
    padding: 13px;
}
.nav.navbar-nav.navbar-right.custom_menu a {
    margin-top: 28px;
}
.nav-pic {
    margin-top: 15px;
}
 }

 @media (max-width: 667px){
.all ul li {
    display: inline-block;
    padding: 13px;
}
.nav.navbar-nav.navbar-right.custom_menu a {
    margin-top: 28px;
}
.nav-pic {
    margin-top: 15px;
}
 }

@media (max-width: 480px){
.inner-data { margin-top: 40%;}
.picture {height: 100px; width: 100px;}
.profile-info h1 { font-size: 24px;}
.custom-accept { float: left;width: 100%;}
.metting-bottom-ryt {font-size: 12px;}
.suggestion h2 {font-size: 24px;}
.mettinf-info.suggest-info h3 {font-size: 15px;}
.mettinf-info.suggest-info h5 {font-size: 12px;margin-top: 0;}
.page {margin-bottom: 15px;margin-top: 15px;}
ul.pagination li a {padding: 8px 13px;}
.terms a {padding: 10px;}
.terms {margin-left: 0;}
.all li { width: 75%;}
.all {display: inline-block; margin-bottom: 0; margin-top: 0;}
.all ul li {margin: 15px 1px 0 0;}
.mettinf-info h3 {margin-top: 7px;}
.suggest { float: left; width: 100%;}
.metting-bottom-ryt {margin-top: 0;}
.metting-para p {font-size: 13px;margin-top: 0;}
.mettinf-info.suggest-info {width: 75%;}
.footer p { font-size: 14px;}
.mettinf-info { margin-left: 12px;}
.verified-customer { float: none;text-align: center;}
.verified-customer-btn { text-align: center;}
.review-heading {margin-bottom: 40px;}
.main-section{ padding: 13px; }
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{ width: auto; }

.edu-list.skills.cal{ width: 100%; }
.skilled-cap{ display: none; }

}



 @media (max-width: 375px){
      .inner-data {margin-top: 33%;}
      .mettinf-info {margin-left: 15px;}
    }


    @media (max-width: 360px){
      .mettinf-info {margin-left: 12px;}
    }